<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a9ed8f07-18ea-4ef9-8b4f-3629408c098e/resourceGroups/pharmadairy_resource/providers/Microsoft.Web/sites/pharmaprodapi</ResourceId>
    <ResourceGroup>pharmadairy_resource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://pharmaprodapi-efhcduete6ejb0dq.scm.eastasia-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://pharmaprodapi-efhcduete6ejb0dq.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$pharmaprodapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>